<div class='flex-table'>
    <div id='event-table' class='events' data-toggle="table" data-pagination="true">
        <div class="event-items">
            {{#each item}}
                <div class="event-item showcontent test" data-tags="{{category.id}}">{{title}}</div>
            {{/each}}
        </div>
    </div>
</div>