<div class='flex-table'>
    <div id='event-table' class='events' data-toggle="table" data-pagination="true">
        <div class="event-items">
            {{#each this}}

                                <div class="event-title">{{title}}</div>

            {{/each}}
        </div>
    </div>
</div>