                    <div class="event-teaser">
            {{#each this}}
                        <div class="event-item">
                            <div class="event-date">{{formatDate eventdate 'dd. MM.'}}</div>
                            <div class="event-title">{{title}}</div>
                        </div>
            {{/each}}
                    </div>