<div class="next-events-entries">
    {{#each this}}
        <div class="next-event-entry">
            <a href="{{url}}" tabindex="0" class="">
                <span class="next-event-day">{{itemDateWeekdayDayMonth}}</span>
                <span class="next-event-title">{{title}}</span>
            </a>
        </div>
    {{/each}}
</div>