<div class="row">
    {{#each this}}
        <div class="col-12 col-sm-4">
            <div class="tiles-event-day smallertext">
            {{formatDate eventdate 'cccc'}}
            </div>
            <div class="tiles-event-date">
            {{formatDate eventdate 'dd. MMMM yyyy'}}
            </div>
        </div>
    {{/each}}
</div>