<div class="row">
    {{#each this}}
        <div class="col-12 col-sm-4">
            <div class="tiles-event-day smallertext">
            {{itemWeekdayLong}}
            </div>
            <div class="tiles-event-date">
            {{itemDateWeekdayDayMonth}}
            </div>
        </div>
    {{/each}}
</div>