/*Colors*/
$primary-color: #0099bd;
$primary-txt-color: #00819f;
$primary: $primary-txt-color;
$bg-color: #095d70;
$bg-dark-color: #004454;
$dark: #000;
$light: #fff;
$grey: #747474;
$greytext: #6C7678;
$lightgrey: #D5E0E3;
$lightgrey2: #F4F6F8;
$lightgrey3: #EDF0F1;
$inactive: #5d5c5f;
$warning: #952A3E;
$warning-btn: #952A3E;
$overlay-color: #00333F;